<h1 style="margin-top: 0.3em;">Introduction</h1>

## What is <%= build_config['github']['name'] %>?

<%= build_config['github']['name'] %> is a set of tools and configuration to
help you bootstrap and maintain a Docker-based PaaS.

On top of configuring Docker Swarm, <%= build_config['github']['name'] %> also
configures and maintain the systems required for traffic routing, service discovery,
logging, monitoring and storage.

## Why use <%= build_config['github']['name'] %>?

### Multi-platform client

You can run `<%= build_config['binary']['name'] %>` to set up both local and remote environments
from Windows, Linux and macOS.

Note that throughout this documentation, you can switch the samples
found on the right of this content between their `shell` (bash, zsh, etc)
and PowerShell versions.

### All the basics

<%= build_config['github']['name'] %> infrastructures include all the basics (what we sometimes
refer to as the Primary Infrastructure). On top of setting
up a Docker Swarm cluster for you, it also sets up the endpoints
for log and metrics aggregation, service discovery, distributed storage
and route management. Once you are done provisioning your cluster,
you should be able to `docker deploy` or `docker service` be up and running.

But it goes beyond this; all the tools (suck as `docker`, `ansible`, etc),
playbooks and templates for configuring clusters are shipped in a Docker
image which `<%= build_config['binary']['name'] %>` uses at runtime. So in general, all you need to
get started is Docker, and <%= build_config['github']['name'] %> itself, making local installation and usage
as simple as can be.

### Deploy anywhere

<%= build_config['github']['name'] %> ships with templates; templates are
a set of files and configuration which you will need to customise and version.

Most templates will simply use a combination of `terraform` and `ansible`
configurations to describe your desired architecture. This means that
to use <%= build_config['github']['name'] %>, you do not need to learn new tools;
<%= build_config['github']['name'] %> only makes it easier
to simply use the ones you already know.

### Versioned and customisable

> Example ./<%= build_config['configuration']['folder'] %>/<%= build_config['configuration']['filename'] %> configuration

```yaml
project_name: hello-world
base_image: <%= build_config['image']['organization'] %>/<%= build_config['image']['name'] %>:1.0.0 # The default version to use
image: project_name # This will create a custom image for your project, tag is the environment

environment:
    # Bump the image version number for the staging environment
    staging:
        base_image: <%= build_config['image']['organization'] %>/<%= build_config['image']['name'] %>:1.0.1

    # Maintain an experimental environment using a custom local container
    experimental:
        base_image: stelcheck/custom:latest
```

When creating a new environment, we hard-code the version of the local Docker image
used; this means that whenever you will come back to this environment at a later time,
you will be able to re-run the same playbooks with the same tools at the same version
as you initially did.

You can also create your own local Docker containers, and configure your
<%= build_config['github']['name'] %> environment to use that instead; this way,
you can add or customise tools and configurations to your liking, and then distribute
the setup to the rest of your team.

And this is not only true for Docker images, but for the project as a whole;
you should be able to create your own build pipelines, inserting the customisations
you wish to either the base image, the `<%= build_config['binary']['name'] %>` local binary or even generate your own
documentation. You should be able to create your own `mycustom-<%= build_config['binary']['name'] %>` in no time!

### Easy to develop and improve

> This script will also automatically build both the Docker image and the binary

```shell
~/Sources/<%= build_config['github']['name'] %> $ ./scripts/development/bash.sh
# [...]

# Run the copy of <%= build_config['binary']['name'] %> we just built
~/Sources/<%= build_config['github']['name'] %> [<%= build_config['github']['name'] %> development] $ <%= build_config['binary']['name'] %> --help

<%= build_config['binary']['name'] %> starts a pre-configured docker container on your local machine,
# [...]

# Rebuild
~/Sources/<%= build_config['github']['name'] %> [<%= build_config['github']['name'] %> development] $ rebuild
```

```powershell
PS C:\Users\stelcheck\Sources\<%= build_config['github']['name'] %>> .\scripts\development\powershell.ps1

# [...]

# Run the copy of <%= build_config['binary']['name'] %> we just built
PS [<%= build_config['github']['name'] %>-development] C:\Users\stelcheck\Sources\<%= build_config['github']['name'] %>> <%= build_config['binary']['name'] %> --help

<%= build_config['binary']['name'] %> starts a pre-configured docker container on your local machine,
# [...]

# Rebuild
PS [<%= build_config['github']['name'] %>-development] C:\Users\stelcheck\Sources\<%= build_config['github']['name'] %>> rebuild
```

Just like our client, our development and build environments are
multi-platform. But we also spent additional time to make sure
that getting set up for developing <%= build_config['github']['name'] %>
would be as easy as possible. For instance, just like for using <%= build_config['github']['name'] %>,
Docker is the only required dependency; the entirely build toolchain has
been Dockerized to ensure that you will never have to figure out how to install

We believe this to be important because not only should it be easy for newcomers
to contribute to <%= build_config['github']['name'] %>, but we might also need help from the community
do debug issues on versions of <%= build_config['github']['name'] %> yet to be released. To us, if
its not easy, its a bug.

And did we mention that everything is customisable? Even if we
were to stop maintaining the project, or if you had to maintain
a fork of the <%= build_config['github']['name'] %> toolchain for
your organisation, you will be able to get yourself set up in no time.

## Help and support

Outside of this documentation, you can find support online on
[Gitter](https://gitter.im/<%= build_config['github']['organization'] %>/<%= build_config['github']['name'] %>) and
[StackOverflow](https://stackoverflow.com/questions/tagged/<%= build_config['github']['name'] %>);
if you suspect a bug, please feel free to
[submit an issue](https://github.com/<%= build_config['github']['organization'] %>/<%= build_config['github']['name'] %>/issues/new).

## Contributing

We always welcome new contributors!

First, you will want to start by
[reading the contribution guide](https://github.com/<%= build_config['github']['organization'] %>/<%= build_config['github']['name'] %>/blob/develop/CONTRIBUTING.md).
There, we explain in more details how the project is structured, how
to set yourself up for development and how to submit new code.

In the case of submitting new features, we strongly recommend to first
[create an issue](https://github.com/<%= build_config['github']['organization'] %>/<%= build_config['github']['name'] %>/issues/new) to
discuss your idea; this way, you will be able to discuss and
confirm with the rest of the community that this feature belongs
in <%= build_config['github']['name'] %>.
